<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="agenda">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Connections</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="speakers">
      <ion-icon name="people"></ion-icon>
      <ion-label>Seekers</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sponsors">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="swag">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
